<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sap</h1>

<form action="." method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken"
           value="idayzEPxbTJlTZ8U1w0T9fZQarwS5p16OZcvD3ihT3V35McJj1WErf0u9GvmgEyj">
    <p><label for="id_text">Text:</label> <input type="text" name="text" maxlength="512" required="" id="id_text"></p>
    <p><label for="id_author_name">Author name:</label> <input type="text" name="author_name" maxlength="32" required=""
                                                               id="id_author_name"></p>
    <p><label for="id_image">Image:</label> <input type="file" name="image" id="id_image"></p>
    <input type="submit" value="Ho">

</form>


</body>
</html>